# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.terraform
.tfstate
# Terraformの作業ディレクトリ
.terraform/

# Terraformの状態ファイル
terraform.tfstate
terraform.tfstate.backup

# Terraformのロックファイル
.terraform.lock.hcl

# プラン出力ファイル
*.tfplan

# 機密情報を含む可能性のあるファイル
*.tfvars

# ログファイル
crash.log

# その他の一時ファイル
*.log
*.bak
*.tmp